.fondoColor {
    background-color: rgb(217, 217, 217);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large
}

.linea {
    width: 90%;
    height: 5px;
    background-color: #333;
}

.flex1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.videoServicios {
    display: flex;
    align-items: center;
    margin: 60px;
    margin-bottom: 200px;
}

.texto {
    margin-left: 80px;
    margin-right: 50px;
}

.centrar {
    text-align: center;
    font-size: xx-large
}

.imgFotter img {
    width: 8%;
    margin-left: 65px;
}

.AlinearFooter {
    display: flex;
    text-align: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    margin-left: 20px;
}